 Python divides the operators in the following groups:

*Arithmetic operators
*Assignment operators
*Comparison operators
*Logical operators
*Identity operators
*Membership operators
*Bitwise operators

In [6]:
# !pip install pandas
# import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

Requirement already satisfied: pandas in c:\users\saad\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saad\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\saad\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\saad\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\saad\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\saad\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [1]:
!conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\saad\anaconda3

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2023.11.17         |  py311haa95532_0         160 KB
    ------------------------------------------------------------
                                           Total:         160 KB

The following packages will be UPDATED:

  certifi                         2023.7.22-py311haa95532_0 --> 2023.11.17-py311haa95532_0
  openssl                                 3.0.10-h2bbff1b_2 --> 3.0.12-h2bbff1b_0



Downloading and Extracting Packages

certifi-2023.11.17   | 160 KB    |            |   0%
certifi-2023.11.17   | 160 KB    | #          |  10%
certifi-2023.11.17   | 160 KB    | ########## | 100%
certifi-2023.11.17   | 160 KB    | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

In [4]:

a : int = 7
b : int = 2

print(a + b)  #addition
print(a - b)  #subtraction 
print(a * b)  #multiplication
print(a / b)  #Division
print(a % b)  #moudlus 
print(a ** b) #exponentiation
print(a // b) #floor division

9
5
14
3.5
1
49
3

# Assignment Operators

In [7]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [7]:
# +=

a : int = 7
a += 2
print(a)

9

In [8]:
# -=

a : int = 7
a -= 2
print(a)

5

# Comparison Operators

In [8]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [3]:
# ==

x : int = 5
y : int = 3
print(x==y)

False

In [5]:
#!=

x : int = 5
y : int = 3
print(x!=y)

True

In [9]:
# >

x : int = 5
y : int = 3
print(x>y)

True

In [10]:
# >

x : int = 5
y : int = 3
print(x<y)

False

In [11]:
# >=

x : int = 5
y : int = 3
print(x>=y)

True

In [12]:
# >

x : int = 5
y : int = 3
print(x<=y)

False

# ASCII Codes

In [30]:
ord('G')

71

In [31]:
chr(71)

'G'

# Logical operators

In [9]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [1]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [2]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [3]:
print(True and True and True)
print(True and True and False)
print(True or True or True or True or False)

True
False
True

In [4]:
not True

False

In [5]:
not False

True

# Python Identity Operators

In [10]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [11]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140736455722064
140736455722064

In [12]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140736455722064
1297180808432

False

In [16]:
num1 : str = "123"
num2 : str = "456"

print(id(num1))
print(id(num2))

num1 is num2

1297158086576
1297243197744

False


# Python Membership Operators

In [17]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [29]:
names = [chr(i) for i in range(65, 85)]  # Creates a list of uppercase letters from A to Z

for i in range(len(names)):
    print(i, names[i])  # Prints the index and value at that index in the list
    if names[i] == "D":
        print("True")  # If the value at the current index is "D", it prints "True" and breaks out of the loop
        break

0 A
1 B
2 C
3 D
True

In [22]:
# in 

flavors: list[str] = ['Mango', 'Banana', 'Chocolate']

uflavor: str = input("What flavor do you need")

uflavor in flavors

False

In [30]:
# not in 

flavors: list[str] = ['Mango', 'Banana', 'Chocolate'] 

uflavor: str = input("What flavor do you need")

uflavor not in flavors #usually means that except that you can input any flavor except those three mentioned above in order to make them True

False

# PEMDAS

In [32]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [33]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [34]:
a, b, c = ('qasim', 7, 3.0)
print(a)
print(b)
print(c)

qasim
7
3.0

In [35]:
# [] Method

data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [36]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [37]:
data = ('qasim', 7, 3.0)
print(data[0], *data)

qasim qasim 7 3.0

In [38]:
a:int = 5

In [40]:
if (a >(b:= a + 5) ):
    print(b)
else:
    print("else is working")

else is working

In [41]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!