In [1]:
print("logic1")
print("logic2")

l1 : list[int] = [1,2,3]

try:
    print(5/2)
    print(l1[0])# Error
    # print(xyz) # error
    open("aa.txt")
except ZeroDivisionError:
    print("Zerro Division Error!")
except IndexError:
    print("Index Error")
except NameError:
    print("Name not defined")
except:          # for any sort of error 
    print("Some thing is wrong!")


print("logic4")
print("logic5")

logic1
logic2
2.5
1
Some thing is wrong!
logic4
logic5

In [2]:
#dynamic errors 

try:
    print(age)
except Exception as e:
    print(f"something is wrong!\n {e}")

something is wrong!
 name 'age' is not defined

In [3]:
try:
    print(l1[200])
except Exception as e:
    print(f"something is wrong!\n {e}")

something is wrong!
 list index out of range

# File Handling 

https://www.geeksforgeeks.org/reading-writing-text-files-python/

<image src = "https://camo.githubusercontent.com/8b065463b6592a4170ae2e9a7c40c05de5c503542b970d10dd6ec15fdfd65876/68747470733a2f2f6e65742d696e666f726d6174696f6e732e636f6d2f707974686f6e2f66696c652f696d672f6d6f6465732e706e67">

In [6]:
open("./abc.txt")

In [8]:
File_data = open("./abc.txt")
File_data

In [10]:
[i for i in dir(File_data) if "__" not in i]

['_CHUNK_SIZE',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_finalizing',
 'buffer',
 'close',
 'closed',
 'detach',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'isatty',
 'line_buffering',
 'mode',
 'name',
 'newlines',
 'read',
 'readable',
 'readline',
 'readlines',
 'reconfigure',
 'seek',
 'seekable',
 'tell',
 'truncate',
 'writable',
 'write',
 'write_through',
 'writelines']

In [11]:
type(File_data)

_io.TextIOWrapper

In [14]:
from typing import IO

File_data: IO = open("./abc.txt") #building the connectivity with the file
print(File_data.read())

twinkle twinkle little star
how i wonder what you are

In [16]:
from typing import IO
File_data: IO = open("./abc.txt")
print(File_data.read())

File_data.close()

twinkle twinkle little star
how i wonder what you are

In [18]:
with open ("./abc.txt") as file:
    print(type(file))
    print(file.read())

print("Up above the world so high")

<class '_io.TextIOWrapper'>
twinkle twinkle little star
how i wonder what you are
Up above the world so high

In [37]:
with open ("./abc.txt") as file:
    print(file.readline(), end="\n")  #reads one line at a time 
    print(file.readline())

twinkle twinkle little star

how i wonder what you are

In [40]:
with open ("./abc.txt", 'r+') as file:
    print(type(file))
    print(file.readlines())
    file.write(f"\nlike a diamond in the sky")

<class '_io.TextIOWrapper'>
['twinkle twinkle little star \n', 'how i wonder what you are \n', 'Up above the world so high\n']

# 'W' function
* Rewrites in the file if the file exist
    * what if the given file URL doesn't exist ?
        * it creates another file with that name

In [48]:
with open ("./poem_02.txt", 'w' ) as file:
    file.seek(0)
    file.write("how i wonder what you are ")

In [49]:
# 'X' function basically used to create a new file 
with open("./abc.txt4", 'x') as file:  # type: TextIO
    # print(file.read())
    file.write("line3")

In [50]:
# a function basically appends the given parameters into the given file and it also creates a new file if the given file doesn't exist 

with open("./abc3.txt", 'a') as file:  # type: TextIO
    # print(file.read())
    file.write("Pakistan")

In [ ]:
# "rb+" function is basically used to read binary files

<image src = "https://1.bp.blogspot.com/-iNi9iER_2QE/YC5ZiQ5nLGI/AAAAAAAABaY/GiLuu8RDz8IHfForgpnz4d7m6i9MYxKvgCLcBGAsYHQ/s883/modes.PNG">

# Reading some real word data files 
*   images
*   csv files 
*   xslx files
*   audio files

In [55]:
import pandas as pd 

df: pd.DataFrame = pd.read_csv("./industry.csv")

df

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [56]:
import pandas as pd 

df: pd.DataFrame = pd.read_excel("./Financial Sample.xlsx")

df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014